<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href= <%= root_path %>>
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <rect x="3" y="4" width="18" height="16" rx="2" ry="2" />
        <path d="M7 4V2h10v2M3 6h18M3 20h18" />
        <circle cx="12" cy="12" r="2" />
      </svg>
      Jerome's Unique Finds
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <%= link_to 'Home', root_path, class: 'nav-item nav-link active' %>
        <%= link_to 'Login', user_session_path, class: 'btn btn-success' %>
        <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-dark' %>
      </ul>
    </div>
  </div>
</nav>

